.wrapper {
  justify-content: center;
  display: flex;
  padding: 3rem;
}

.loading-spinner {
  font-size: 10rem;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
    transform-origin: center center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}
